.size{
  padding: 10px 10%;
  background-color: #f4f2f2;
}
.nameBox{
  font-size: 32px;
  font-weight: 600;
  margin: 20px;
}
.boxTrue, .boxFalse{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 25px;
}
.content{
  width: 50%;
}
.nameBlock{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  margin: 10px 0px 25px;
}
.description{
  line-height: 30px;
}
.images{
  width: 50%; 
  max-height: 500px;
}
.images img{
  max-width: 98%;
  max-height: 98%;
}
@media (max-width: 1150px){
  .size{
   padding: 10px 5%;
  }
}
@media (max-width: 1020px){
  .size{
    padding: 10px 20px;
  }
}
@media (max-width: 865px){
  .size{
    padding: 10px 0px;
  }
  .boxTrue, .boxFalse{
    flex-wrap: wrap;
  }
  .images, .content{
    max-width: 100%;
  }
}