.a{
  color: black;
  transition: all 0.4s;
  border-right: 2px solid #000;
  padding:0px 10px;
  text-transform: uppercase;
}
.a:hover{
  transition: all 0.4s;
  color: #fdb819;
}
.a:last-of-type { border: none;}